.ui-draggable{
    background-color:grey;
    margin-top:-5px;
    margin-left:-5px;
    width:10px;
    height:10px;
    z-index:10000000;
}

body{
    background-color:black;
    padding:0px;
    margin:0px;
}

#controls{
 margin:0px 0px;
 padding:15px;
 right:0px;
 top:0px;
 width:200px;
 height:150px;
 border:3px solid grey;
 background-color:lightgrey; 
 position:absolute;
}

button , select{
    width:100%;
    height:30px;
    margin-top:2px;
    margin-bottom:2px;
}
